{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <h1>Biblioteca</h1>
    <form action="{% url 'busca' %}">
        <input type="text" name="search" placeholder="Buscar midia">
        <button type="submit">Buscar</button>
    </form>
    <!-- <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Director</th>
                <th>Description</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for midia in midias %}
            <tr>
                <td>{{midia.id}}</td>
                <td>{{midia.title}}</td>
                <td>{{midia.release_year}}</td>
                <td>{{midia.director}}</td>
                <td>{{midia.description}}</td>
                <td>{{midia.created_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!-- <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div> -->
    {% for midia in midias %}
    <div class="cards">
        <div class="card" id="filmes">
            <img src="https://source.unsplash.com/150x250/?pikachu" alt="">
            <h2>{{midia.title}}</h2>
            <h3>{{midia.release_year}}</h3>
        </div>
    </div>
    {% endfor %}

</body>

</html>