{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="titulo">
            <h1>Biblioteca</h1>
        </div>
        <div class="logout">
            <a href="{% url 'logout' %}">SAIR</a>
        </div>
    </div>
    <form action="{% url 'busca' %}">
        <input type="text" name="search" placeholder="Buscar midia">
        <button type="submit">Buscar</button>
    </form>
    <div class="add-btn">
        <a class="adicionar" href="{% url 'adicionar' %}">Adicionar Mídia</a>
        <div class="filter-btn">
            <a class="ativo" href="{% url 'adicionar' %}">Ativos</a>
            <a class="inativo" href="{% url 'adicionar' %}">Inativos</a>
        </div>
    </div>
    <div class="cards">
        {% for midia in midias %}
        <div class="card" id="filmes">
            <img src="https://source.unsplash.com/190x220/?pikachu" alt="">
            <h4><a href="{% url 'detalhes' midia.id %}">{{midia.title}}</a></h4>
            <h6>{{midia.release_year}}</h6>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div>

</body>

</html>